.container {
  display: flex;
}

.colOne {
  display: flex;
  justify-content: flex-start;
}

.colTwo {
  display: flex;
  justify-content: flex-end;
}

.menuIcon {
  background-color: black;
  height: 2.6vh;
  width: 2.6vh;
  color: white;
  padding: 1vh;
  border-radius: 30px;
}

.searchIcon {
  height: 2.6vh;
  width: 2.6vh;
  padding: 1vh;
  color: rgb(73, 73, 73);
}

.searchBox {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  background: black;
  height: 2.6vh;
  border-radius: 40px;
  padding: 1vh;
  display: flex;
}

.searchBox:hover > .searchText {
  width: 25vh;
  padding: 0px 6px;
}

.searchButton {
  color: white;
  float: right;
  width: 2.6vh;
  height: 2.6vh;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchText {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 1.5vh;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.welsomeDesign {
  line-height: 1vh;
  margin-top: 3vh;
}

.welsomeDesign > h4 {
  font-size: 4vh;
}
.welsomeDesign > p {
  font-size: 2.5vh;
  font-weight: bold;
  margin-top: -1.5vh;
  color: rgb(128, 128, 128);
}

.cardGradient {
  position: relative;
  padding: 0;
  height: 20vh;
  width: 35vh;
  overflow: hidden;
  border-radius: 20px;
}

.imgCard {
  width: 100%;
  object-position: bottom;
  object-fit: cover;
  z-index: -5;
  display: block;
  /* height: 200px; */
  /* width: auto; */
  mask-image: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0.514) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

.text-block {
  position: absolute;
  bottom: 3vh;
  right: 10vh;
  /* background-color: black; */
  color: black;
  /* padding-left: 4vh; */
  padding-right: 2vh;
  opacity: 50px;
  z-index: 5;
  line-height: 0.6vh;
}

.text-block > h4 {
  font-size: 4vh;
  font-weight: bold;
}

.text-block > p {
  margin-top: -1.8vh;
  /* font-size: 3vh; */
}

.text-block > h5 {
  font-size: 1.2vh;
}

.getnowBtn {
  color: white;
  padding: 1.5vh;
  width: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 30px;
  font-size: 1.2vh;
}

.offerTab {
  /* width: 40vh; */
  display: flex;
  overflow: scroll;
}

.newArrHead {
  font-size: 3vh;
  /* line-height: 1vh; */
  margin-bottom: -0.2vh;
  margin-top: 3vh;
}

.productDetail {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vh;
  line-height: 0vh;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px rgb(226, 226, 226);
}
.productImage {
  width: 100%;
  height: 20vh;
  overflow: hidden;
}
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.productDetail > h2 {
  font-size: 2vh;
  margin-top: 2.5vh;
}
.productDetail > h3 {
  font-size: 1.5vh;
  font-weight: 400;
  color: rgb(128, 128, 128);
  margin-top: 1vh;
}
.productDetail > h4 {
  font-size: 2vh;
  margin-top: 1vh;
}

.arrivalTab {
  display: flex;
  overflow: scroll;
}

.viewAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewAll > h2 {
  font-size: 3vh;
}

.viewAll > h3 {
  font-size: 1.8vh;
  color: rgb(128, 128, 128);
}

.popularCard {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 5px rgb(226, 226, 226);
}
.popularImgCont {
  padding: 0;
}

.popularImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.popularDetail {
  height: 9vh;
  line-height: 0.4vh;
  margin-left: 1vh;
}
.popularDetail > h3 {
  font-size: 1.8vh;
}
.popularDetail > h4 {
  font-size: 1.5vh;
  font-weight: 300;
}
.popularDetail > h5 {
  font-size: 1.6vh;
  display: flex;
  align-items: center;
  margin-top: -1vh;
}

.popularDetail > h5 > span {
  color: rgb(209, 255, 41);
  font-size: 2vh;
  margin-right: 1vh;
}

.popularPrice {
  font-weight: bold;
}
