.logo {
  font-size: 3vh;
  text-align: center;
  /* margin-top: 2vh; */
}

.heading {
  line-height: 5px;
  margin-top: 3vh;
}

.heading > h3 {
  font-size: 3vh;
}
.heading > p {
  font-size: 1.8vh;
  color: rgb(128, 128, 128);
}

.formDesign {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.labelDesign {
  font-size: 2.2vh;
  font-weight: bold;
  /* margin-top: 40px; */
}

.inputDesign {
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(128, 128, 128);
  margin-top: 1vh;
}

.loginButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  height: 5vh !important;
  background-color: black;
  /* border: 1px solid black; */
  border-radius: 25px;
}

.loginButtonStyle {
  padding: 0vh 17vh;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.orDesign {
  text-align: center;
  font-size: 1.8vh;
  color: rgb(128, 128, 128);
}

.facebookButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh !important;
  background-color: #4267b2;
  /* border: 1px solid black; */
  border-radius: 25px;
}

.facebookButtonStyle {
  /* padding: 0vh 17vh; */
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.googleButton {
  cursor: pointer;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh !important;
  border: 1px solid rgb(128, 128, 128);
  /* background-color: #4267b2; */
  /* border: 1px solid black; */
  border-radius: 25px;
}

.googleButtonStyle {
  font-size: 2vh;
  font-weight: bold;
  color: rgb(77, 76, 76);
}

.facebookIcon {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 1.5vh;
  font-size: 2vh;
}

.googleIcon {
  display: flex;
  align-items: center;
  margin-right: 1.5vh;
  font-size: 2vh;
}

::placeholder {
  color: rgb(141, 141, 141);
  font-weight: bold;
}
