.imageContainer {
  margin-top: 3vh;
  height: 40vh;
  width: 100%;
}

.imageContainer > img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.containerOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail {
  line-height: 1vh;
}

.detail > h2 {
  font-size: 3vh;
}

.detail > h3 {
  font-size: 1.5vh;
  font-weight: 400;
  color: rgb(128, 128, 128);
}

.rating {
  font-size: 1.8vh;
}

.qtyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qty {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  text-align: center;
  margin-top: 2vh;
  /* line-height: 1vh; */
}

.qtyNo {
  font-size: 2vh;
  /* font-weight: bold; */
  margin-right: 2vh;
}

.plusMinus {
  font-size: 1.5vh;
  font-weight: 400;
  margin-right: 2vh;
}

.stock {
  font-size: 1.6vh;
}

.containerTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2vh;
}

.sizeContainer > h5 {
  font-size: 2.2vh;
  line-height: 1vh;
}

.colorContainer {
  /* border: 1px solid black; */
  box-shadow: 0px -2px 10px 5px rgb(223, 223, 223);
  padding: 0.5vh;
  border-radius: 100px;
  /* margin-top: 2vh; */
}

.color {
  background-color: brown;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 100%;
}

.sizeDesc {
  display: flex;
  align-items: center;
  margin-top: -2vh;
  /* justify-content: space-evenly; */
}

.sizeDesc > p {
  font-size: 1.5vh;
  border: 1px solid rgb(190, 190, 190);
  padding: 1vh;
  border-radius: 100%;
  text-align: center;
  margin-right: 1vh;
}

.bottomContainer {
  margin-bottom: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceContainer {
  /* display: flex; */
  /* justify-content: space-between; */
  line-height: 0.8vh;
}

.priceContainer > h2 {
  font-size: 1.5vh;
  color: rgb(128, 128, 128);
}

.priceContainer > p {
  font-weight: bold;
  font-size: 2.5vh;
}

.addToCartButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  /* height: 3.5vh; */
  padding: 1.5vh 3.5vh;
  border-radius: 100px;
}

.cartIcon {
  margin-right: 2vh;
  font-size: 2.2vh;
}

.addToCartText {
  font-size: 2.2vh;
  font-weight: bold;
}
