.firstHeading {
  font-size: 3vh;
  font-weight: bold;
}

.productDetailContainer {
  display: flex;
}

.imageConatiner {
  height: 15vh;
  width: 15vh;
}

.imageConatiner > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.headingConatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1vh;
}

.headingDesc {
  line-height: 0.5vh;
}

.headingDesc > h3 {
  font-size: 2vh;
  font-weight: bold;
}

.headingDesc > h4 {
  font-size: 1.5vh;
  font-weight: 600;
  color: rgb(128, 128, 128);
}

.priceText {
  font-size: 2vh;
  font-weight: bold;
}

.totalContainer {
  margin-bottom: 10vh;
  line-height: 0.1vh;
  border: 1px solid black;
  padding: 0.5vh 1.5vh;
  border-radius: 15px;
  border-color: rgb(233, 233, 233);
  align-items: center;
}

.subtotalConatiner {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1.5vh;
}
.shippingContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1.5vh;
}
.bagTotalContainer {
  display: flex;
  justify-content: space-between;
}

hr {
  color: rgb(233, 233, 233);
}

h4 {
  font-size: 1.8vh;
}

p {
  font-size: 2vh;
  font-weight: bold;
}

.proceedToCheckoutButton {
  text-align: center;
  /* border: 1px solid black; */
  border-radius: 15px;
  padding: 2vh;
  color: white;
  background-color: black;
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 10vh;
}
